:root {
    font-family: 'Open Sans';
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

::selection {
	background: #FAA916;
	color: #171719;
}

/* scrollbar width */
::-webkit-scrollbar {
	width: 8px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
	border-radius: 3px;
	background: #3A3940;
}
 
/* scrollbar handle */
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #2F2E33;
}
