:root {
    font-family: 'Open Sans';

    --main-bg-color: #111111;
    --secondary-bg-color: #2F2E33;
    --main-fg-color: #3A3940;
    --main-txt-color: #B7B9BC;
    --secondary-txt-color: #171719;
    --main-accent-color: #FAA916;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

::selection {
	background: var(--main-accent-color);
	color: var(--secondary-txt-color);
}

/* scrollbar width */
::-webkit-scrollbar {
	width: 8px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
	border-radius: 3px;
	background: var(--main-fg-color);
}
 
/* scrollbar handle */
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: var(--secondary-bg-color);
}
