main#legacy {
    --main-bg-color: #111111;
    --secondary-bg-color: #111111;
    --main-fg-color: #3A3940;
    --main-txt-color: #B7B9BC;
    --secondary-txt-color: #171719;
    --main-accent-color: #FAA916;

	.backdrop {
		border-radius: 0px;

		&-bg {
			background: #111111;
		}

		&-top {
			height: 47px;
		}

		&-bottom {
			height: 12px;
		}

		&-right {
			width: 12px;
		}

		&-left {
			width: 47px;
		}
	}

	.content {
		border-radius: 0PX;
		padding: 35px 10px 10px;

		.desktop {
			margin-top: 10px;
			
			.dropfield {
				&-inner-wrapper {
					padding: 0;
				}

				&-inner {
					color: #3F3F3F;
				}
			}

			.canvas-container {
				padding: 20px;
				border-radius: 3px;
				border:2px dashed #3A3940;
				box-sizing: border-box;

				.zoomscale {
					top: 55px;
		    		right: 20px;
		    		border: 2px solid #3F3F3F;
		    		background: #111111;
		    		color: #3F3F3F;

		    		&:hover {
		    			border-color: black;
					    color: #000;
					    background-color: #3F3F3F;
		    		}
				}
			}
		}

		.toolbar {
			padding: 10px 10px 10px 0;
		}

		.titlebar {
			border-bottom: 2px solid #3F3F3F;
			padding: 0 10px 10px;
			height: 35px;

			.version {
				height: 25px;
				color: #3F3F3F;
			}
		}

		.button {
			width: 25px;
			height: 25px;
			margin-bottom: 10px;
			border: 2px solid #3F3F3F;
			background: transparent;
			color: #3F3F3F;
			font-size: 14px;

		    &:hover {
		    	border-color: black;
			    color: black;
			    background-color: #3F3F3F;
		    }

		    &.control {
			    width: 40px;
			    border-top: unset;
			    border-top-left-radius: 0px;
			    border-top-right-radius: 0px;
			    border-bottom-left-radius: 4px;
			    border-bottom-right-radius: 4px;
			    line-height: 25px;
			    text-align: center;
			}
		}

		.picker-controls-row {
			.button {
				border-top: 2px solid #3F3F3F;
			    border-top-left-radius: 4px;
			    border-top-right-radius: 4px;
			}
		}
	}
}

main#light {
    --main-bg-color: #D8D8D8;
    --secondary-bg-color: #ECECEC;
    --main-fg-color: #C7C7C7;
    --main-txt-color: #40444D;
    --secondary-txt-color: #575757;
    --main-accent-color: #FAA916;

    .version {
    	color: var(--secondary-txt-color);
    }
}

main#amoled {
	--main-bg-color: #020202;
    --secondary-bg-color: #111113;
    --main-fg-color: #0C0C0D;
    --main-txt-color: #A5ABB3;
    --secondary-txt-color: #A5ABB3;

	.content {
		.desktop {
			.dropfield {
				&-inner {
					color: #4f5256;
					border-color: #4f5256;
				}
			}
		}

		.button {
		    &:hover {
		    	color: var(--main-bg-color);
		    }
		}
	}

	.switch {
		input:checked + .slider:before {
			background-color: var(--secondary-bg-color);
		}
	}
}

main#pink {
    --main-bg-color: #FC97B7;
    --secondary-bg-color: #FFBCD1;
    --main-fg-color: #FF679D;
    --main-txt-color: #FF1E68;
    --secondary-txt-color: #FFBCD1;
    --main-accent-color: #FEC8D6;

    .version {
    	color: var(--secondary-txt-color);
    }
}